.section {
    background-color: #f9fafb;
    padding: 5rem 1.5rem;
    text-align: center;
  }
  
  .container {
    max-width: 64rem;
    margin: 0 auto;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #1d4ed8;
    margin-bottom: 1rem;
  }
  
  .text {
    color: #4b5563;
    margin-bottom: 2rem;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
  }
  .p{
    
     color: rgba(0, 0, 0, 0.333)
   
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  
  .button {
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    transition: background 0.5s ease;
  }
  
  .playStore {
    background-color: #34d35e; /* green-400 */
  }
  
  .playStore:hover {
    background-color: #131313; /* green-600 */
  }
  
  .appStore {
    background-color: #101111; /* blue-600 */
  }
  
  .appStore:hover {
    background-color: #1d4ed8;
  }
  
  .note {
    color: #1f1f1f;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  