@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Optional basic styles --- */
html,
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
    background-color: rgba(255, 255, 255, 0.986);
}